.container-wrapper {
    max-width: 1173px;
}
.heding {
    background-image: url("../img/photo.jpg");
    height: 100vh;
    background-size: cover;
    color:#fff ;
    background-position: bottom;

}
.img {
    width: 100%;
    object-fit: cover;
}

.slider_item:focus {
        outline: none !important;
    }
button:focus, .project button, .project html input[type=button], .project input[type=reset], .project input[type=submit]:focus {
    outline: none !important;
    border:none;
    }

.logo {
        display: flex;
        font-family: "Raleway";
        font-size: 34px;
        text-decoration: none;
        color:#fff ;
        align-items: center;
        cursor: pointer;
        z-index: 1;
        }

.header_menu {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
    }
    .header_icons {
        display: flex;
        cursor: pointer;
        a {
            cursor: pointer;
        }
    }
    
.btn {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 170px;
    min-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #998675;
    box-shadow: inset 0 -3px 0px rgba(0,0,0,0.14);

}

video {
    width: 100%;
    object-fit: cover;
}

li {
    list-style: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: .5;

}

.wrapper-posts:focus {
    outline: none !important;

} 



// .prev-arrow {
//     left: 38rem;
// }

// .next-arrow {
//     right: 38rem;
// }

    .arrows {
        display: block;
        margin: 0 auto;
        align-items: center;
        width: 85px;
        height: 50px;
        margin-top: 42px;
            svg {
            width: 21px;
            height: 21px;
            border: 3px solid#c7b299;
            border-radius: 50%;
            stroke: #c7b299;
            margin: 0 5px 0 5px;
        }
    }
    
        // svg {
        // .next .slick-arrow {
        //     width: 15px;
        //     height: 15px;
        //     border: 2px solid #998675;;
        //     border-radius: 50%;
    //     // }
    // }
    // }

//     .prev {
//         width: 15px;
//         height: 15px;
//         border: 2px solid #998675;;
//         border-radius: 50%;
//         position: absolute;
//         bottom: -81px;
//         svg {
//             fill:#998675;
//             width: 15px;
//             height: 15px;
//             position: absolute;
//             // left: 33rem;
//             // bottom: -77px;
//         }
//         // background-image: url(../img/free-icon-left-arrow-black-circular-button-54716.svg
//     }
// //     .prev {
// //     // position: relative;
// //     width: 24px;
// //     height: 24px;
// //     border: 2px solid #998675;;
// //     border-radius: 50%;
// //     position: absolute;
// //     bottom: -81px;

// // }
// // .next {
// //     // position: relative;
// //     width: 24px;
// //     height: 24px;
// //     border: 2px solid #998675;;
// //     border-radius: 50%;
// //     position: absolute;
// //     bottom: -81px;
// //     svg {
// //         fill:#998675;
// //         width: 15px;
// //         height: 15px;
// //         position: absolute;
// //         right: 33rem;
// //         bottom: -77px;
// //     }
// // }

.showmore:focus {
    outline: none !important;
}
