.container-wrapper {
    max-width: 1173px;
}
.heding {
    background-image: url("../img/photo.jpg");
    height: 100vh;
    background-size: cover;
    color:#fff ;
    background-position: bottom;

}
.img {
    width: 100%;
    object-fit: cover;
}

.slider_item:focus {
        outline: none !important;
    }
button:focus, .project button, .project html input[type=button], .project input[type=reset], .project input[type=submit]:focus {
    outline: none !important;
    border:none;
    }

.logo {
        display: flex;
        font-family: "Raleway";
        font-size: 34px;
        text-decoration: none;
        color:#fff ;
        align-items: center;
        cursor: pointer;
        z-index: 1;
        }

.header_menu {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
    }
    .header_icons {
        display: flex;
        cursor: pointer;
        a {
            cursor: pointer;
        }
    }
    
.btn {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 170px;
    min-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #998675;
    box-shadow: inset 0 -3px 0px rgba(0,0,0,0.14);

}

video {
    width: 100%;
}

li {
    list-style: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: .5;

}

.wrapper-posts:focus {
    outline: none !important;

} 
.showmore:focus {
    outline: none !important;
}
